* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2E1F5;
    font-family: 'Noto Sans', sans-serif;
}

.box {
    width: 90%;
    margin: 20px auto;
    min-height: 85vh;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

.card {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}

.content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

footer a {
    text-decoration: none;
    color: #82498C;
    font-weight: bold;
}

footer a:hover {
    color: #67396F;
}